<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="D:/Java_Doc/Git_Programs/OrangeHRMProject/src/test/java/testcases/TestLoginPage.java">
        <classes>
            <class name="testcases.TestLoginPage">
                <methods>
                    <include name="test1_postCommentAndPostBtnVerification"/>
                    <include name="test2_postCommentAndPostBtnVerification"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>